ZOOKEEPER_PORT=2181

KAFKA_EXTERNAL_PORT=9092
KAFKA_INTERNAL_PORT=29092

POSTGRES_DB=pulsestream
POSTGRES_USER=pulsestream
POSTGRES_PASSWORD=pulsestream
POSTGRES_PORT=5432

REDIS_PORT=6379

PROMETHEUS_PORT=9090

GRAFANA_PORT=3000
GRAFANA_ADMIN_USER=admin
GRAFANA_ADMIN_PASSWORD=admin